/* Styles the navbar */
#navbar {
    overflow:hidden
        background-color: #333
}

/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

/* Page content */
.content {
    padding 16px
}

/* Sticky class assigned to navbar with JavaScript when scroll is engaged
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Adds small amount of top padding to the page content to prevent sudden movement */
.sticky + .content {
    padding-top: 60px;
}
